@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
  font-family: TikTok Sans;
  margin: 0;
  padding: 0;
}
#root{
  background-color: #a9cfcb;
}
ul{
  list-style: none;
}