@mixin headerMedia{
  color: #898989;
  font-size: 28px;
  cursor: pointer;
  transition: all .3s ease;
}

.header{
  position: relative;
  border-bottom: 2px solid #ccc;
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header__launch{
    img{
      border-radius: 100px;
    }
    display: flex;
    gap: 10px;
    align-items: center;
    .launch__aside{
      display: flex;
      flex-direction: column;
      .aside__logo_link{
        text-decoration: none;
         color: black;
      }
      .aside__logo{
        cursor: pointer;
      }
      .aside__text{
        color: #898989;
        font-size: 16px;
      }      
    }
  }
  .header__nav{
    .nav__list{
      display: flex;
      align-items: center;
      gap: 2rem;
      .list__basket{
        @include headerMedia();
      }
      .list__basket_active{
        color: black;
        font-size: 28px;
        cursor: pointer;
        transition: all .3s ease;
      }
      .list__basket:hover{
        color: black;
        transform: translateY(-2px);
      }
      .list__count{
        font-size: 14px;
        font-weight: 600;
      }
      .list__fav{
        @include headerMedia()
      }
      .list__fav_active{
        color: crimson;
        font-size: 28px;
        cursor: pointer;
        transition: all .3s ease;
      }
      .list__fav:hover{
        color: crimson;
        transform: translateY(-2px);
      }
    }
  }
}